.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 350px;
  height: 3px;
  background-color: rgb(224, 84, 84);

}

.slider {
  position: relative;
  height: 20px;
}
.slider__btn {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.slider__btn.green {
  background-color: rgb(10, 120, 10);
}
.slider__btn.red {
  background-color: rgb(162, 13, 13);
}
